html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1E1E1E;
    --text-color: white;
    --selected-menu-color: #333;
    --login-button-color: #333;
    --login-button-lighter-color: #404040;
}

body {
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}
main {
    padding-top: 80px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 1000;
    width: 100%;
}

.page-header__item {
    flex: 0 1 auto;
}

.page-header__item:first-child {
    max-width: 200px;
}

.login-button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--login-button-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-button-color);
    transition: 0.4s background-color;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--login-button-lighter-color);
    color: var(--text-color);
}

.nav-item {
    margin-right: 40px;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navigation-list li .nav-link {
    white-space: nowrap;
}

button {
    white-space: nowrap;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

* {
    box-sizing: border-box;
}

.image-container {
    position: relative;
    height: calc(100vh - 40px);
    text-align: center;
    overflow: hidden;
}

.image-container .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.image-container .active {
    opacity: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me {
    margin: 20px;
}

.about-me img {
    max-width: 100%;
    height: auto;
}

.about-me .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me h2 {
    margin-bottom: 20px;
}

.about-me .contact-info {
    margin-top: 10px;
}

@media (max-width: 830px) {
    .page-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px; /* Reduced padding for smaller screens */
        font-size: 20px; /* Reduced font size for smaller screens */
    }

    .navigation-list {
        display: none;
    }

    .navbar-brand img {
        width: 150px; /* Adjust logo size for smaller screens */
        height: auto;
    }
}
